@using tıbbitakipsistemi.Models
@model List<Tahlil>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @using (Html.BeginForm())
    {
        <div style="width:25%" float="right">
            @Html.TextBox("ara", null, new { @class = "form-control", @placeholder = "Tahlil bilgisi arayınız" })
            <div style="float:right">
                <input type="submit" name="btn" value="Ara" class="btn btn-info" />
            </div>

        </div>

    }

</div>
<br />
<br />





@if (User.IsInRole("A"))
{
    <a href="/Tahliller/Ekle" clss="btn btn-primary">Ekle</a>

    <table class="table table-bordered">
        <thead style="background-color: lightblue;">
            <tr>
                <th>Tarih</th>
                <th>Tahlil Bilgisi</th>
                <th>Tahlil Sonucu</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Tarih</td>
                    <td>@item.TahlilBilgisi</td>
                    <td>@item.TahlilSonuc</td>
                    <td>
                        <a href="/Tahliller/Guncelle/@item.ID" class="btn btn-warning btn-sm" title="Güncelle" role="button">Düzenle</a>
                    </td>
                    <td>
                        <a href="/Tahliller/Sil/@item.ID" class="btn btn-warning btn-sm" onclick="return confirm('Silmek istiyor musunuz?')" title="Sil" role="button">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (User.IsInRole("k"))
{
    <table class="table table-bordered">
        <thead style="background-color: lightblue;">
            <tr>
                <th>Tarih</th>
                <th>Tahlil Bilgisi</th>
                <th>Tahlil Sonucu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Kullanici != null && Session["ID"] != null && item.Kullanici.ID.ToString() == Session["ID"].ToString())
                {
                    <tr>
                        <td>@item.Tarih</td>
                        <td>@item.TahlilBilgisi</td>
                        <td>@item.TahlilSonuc</td>
                    </tr>
                }
            }


        </tbody>
    </table>
}
